<%- include("common/header.ejs") -%>
    <div class="menu container-fluid text-center hidden-xs" style="position:relative;top:4em; padding-bottom:5px;">
        <div class="container-fluid">
            <div class="row">
                <% category.map( item=>{ %>
                    <div class="col-sm-2">
                        <a class="btn btn-block" href="<%= SITE_URL%>/category/<%=item.slug %>" aria-expanded="true"
                            style="background-color:#fff;">
                            <%= item.title %>
                        </a>
                    </div>
                    <% }); %>

            </div>
        </div>
    </div>
    <header>
        <div class="col-sm-12 jumbotron text-center">
            <h2>Welcome to our Lifestyle Store!</h2>
            <h6>We have the best cameras,watches and shirts for you. No need to hunt around, we have all in one place
            </h6>
        </div>
    </header>

    <!--Carousel Trial-->

    <!---->
    <section>

        <div class="container col-sm-10 col-sm-offset-1">

            <div class="row">
                <% products.map(product=>{ %>
                    <div class="col-sm-4">
                        <a href="<%=SITE_URL%>/product/<%= product?._id %>">
                            <div class="thumbnail">

                                <img src="<%=SITE_URL%>/assets/products/thumb/<%=product.thumb%>" class="img-responsive"
                                    alt="">

                                <div class="caption">

                                    <h4>
                                        <%= product.title %>
                                    </h4>

                                    <h5><a href="" class="label label-success">
                                            <%= product.price %>
                                        </a></h5>
                                    <!--button type="submit" class="btn btn-primary btn-block">ADD TO CART</button-->

                                </div>

                            </div><!-- End of div thumbnail-->
                        </a>
                    </div><!--End of div col-sm-4 -->

                    <% }) %>


            </div><!-- End of div row -->

        </div>
        <div class="container col-sm-10 col-sm-offset-1 page">
            <div class="col-sm-12">

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="<%if(page<=1){%>disabled<%}%>">

                            <a href="<% if(page>1){%>

                                ?page=<%=page-1%>
<% } %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;Previous</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">
                                <%= page %>
                            </a></li>

                        <li>
                            <a href="?page=<%=page+1%>" aria-label="Next">
                                <span aria-hidden="true">&raquo;Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

    </section>

    <%- include("common/footer.ejs") -%>