<%- include("common/header.ejs") -%>
    <div class="menu container-fluid text-center hidden-xs" style="position:relative;top:4em; padding-bottom:5px;">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-2">
                    <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color:#fff;">
                        Men
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Footwear</a></li>
                        <li><a href="#">Top wear</a></li>
                        <li><a href="#">Sports wear</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color:#fff;">
                        Women
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color:#fff;">
                        Cameras
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color:#fff;">
                        Electronics
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Mobiles</a></li>
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color:#fff;">
                        Books
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-block" aria-expanded="true" style="background-color:#fff;">Offer
                        Zone</button>
                </div>


            </div>
        </div>
    </div>
    <header>
        <div class="col-sm-12 jumbotron text-center">
            <h2>Welcome to our Lifestyle Store!</h2>
            <h6>We have the best cameras,watches and shirts for you. No need to hunt around, we have all in one place
            </h6>
        </div>
    </header>

    <!--Carousel Trial-->

    <!---->
    <section>

        <div class="container col-sm-10 col-sm-offset-1">

            <div class="row">
                <% products.map(product=>{ %>
                    <div class="col-sm-4">
                        <a href="<%=SITE_URL%>/product/<%= product.id %>">
                            <div class="thumbnail">

                                <img src="<%=SITE_URL%>/assets/products/thumb/<%=product.thumb%>" class="img-responsive"
                                    alt="">

                                <div class="caption">

                                    <h4>
                                        <%= product.title %>
                                    </h4>

                                    <h5><a href="" class="label label-success">
                                            <%= product.price %>
                                        </a></h5>
                                    <!--button type="submit" class="btn btn-primary btn-block">ADD TO CART</button-->

                                </div>

                            </div><!-- End of div thumbnail-->
                        </a>
                    </div><!--End of div col-sm-4 -->

                    <% }) %>


            </div><!-- End of div row -->

        </div>
        <div class="container col-sm-10 col-sm-offset-1 page">
            <div class="col-sm-12">

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

    </section>

    <%- include("common/footer.ejs") -%>