<%- include("common/header.ejs") -%>

    <div class="menu container-fluid" style="position:relative;top:4em; padding-bottom:5px;">
        <div class="container-fluid">
            <div class="row">

                <% orders.map(function(item){ %>

                    <% item.products.map(function(product){ %>

                        <ul class="list-group">
                            <li class="list-group-item disabled">
                                <a href="/product/<%= product.product_id %>">
                                    <%=product?.name %>
                                </a>
                            </li>
                            <li class="list-group-item">
                                Status: <%=item?.status %>
                            </li>
                            <li class="list-group-item">
                                Price: <%=product?.price %>
                            </li>
                            <li class="list-group-item">
                                Quantity: <%=product?.quantity %>
                            </li>

                        </ul>
                        <% }) %>

                            <% }); %>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") -%>